#mybtn1{
	color:black;
	text-decoration:underline;
	width:200px;
}

#mycolor1{background:#52ccf2;}
#mycolor2{background:#cce85f;}
#mycolor3{background:#e23857;}
#mycolor4{background:#f98627;}

